<!--作者：崔然-->
<!DOCTYPE html>
<html lang="zh-cn">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <title>京东-欢迎登陆</title>
    <link rel="icon" href="{% static "images/public/favicon.ico" %}" mce_href="{% static "images/public/favicon.ico" %}" type="image/x-icon">
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
    <link href="{% static "css/logoin.css" %}" rel="stylesheet">
{#    <script src="{% static "js/jquery/jquery-1.11.3.min.js" %}"></script>#}
    <script src="{% static "js/login.js" %}"></script>
</head>



<body>

    <div id="header">
        <a href="{% static "http://www.jd.com/" %}">
            <img src="{% static "images/logo-in/logo-201305-b.png" %}">
        </a>
        <img class="img2" src="{% static "images/logo-in/l-icon.png" %}">
    </div>
    <div id="main">
        <div class="main-bg"></div>
        <div class="register">
            <div class="contain">
                <span class="vip">京东会员</span>
                <a class="zhuce" href="https://reg.jd.com/reg/person?ReturnUrl=http%3A%2F%2Fwww.jd.com" target="_blank">
                    <em></em>
                    <span>立即注册</span>
                </a>
                <div class="advice1">
                    <em></em>
                    <span id="tip">公共场所不建议自动登录，以防账号丢失</span>
                </div>
                <div class="advice2">
                    <em></em>
                    <span>请输入账户名</span>
                </div>
                <div class="advice3">
                    <em></em>
                    <span>请输入密码</span>
                </div>
                <div class="advice4" {% if login_form.errors or msg %}style="display: block;"{% endif %}>
                    <em></em>
                    <span>{{ login_form.first_error|default_if_none:'' }}{{ msg|default_if_none:'' }}</span>
                </div>
                <form id="myform" action="" method="post">
                    <div class="text" {% if login_form.errors.username %}style="border-color: rgb(228, 57, 60);"{% endif %}>
                        <em></em>
                        <input id="userName" type="text" name="username" placeholder="邮箱/用户名/已验证手机">
                    </div>
                    <div class="keywords" {% if login_form.errors.password %}style="border-color: rgb(228, 57, 60);"{% endif %}>
                        <em></em>
                        <input id="passWord" type="password" name="password" placeholder="密码">
                    </div>
                    <input class="check1" type="checkbox" checked="checked"><span class="check2">自动登录</span>
                    <a class="forget" href="{% static "http://safe.jd.com/findPwd/index.action" %}" target="_blank">忘记密码?</a>
                    <input type="submit" class="sub" >登录</input>
                    {% csrf_token %}
                </form>
            </div>
            <div class="regi-foot">
                <div class="refol fl">
                    <span>使用合作网站账号登陆京东:</span>
                    <ul>
                        <li><a>京东钱包</a><i>|</i></li>
                        <li><a>QQ</a><i>|</i></li>
                        <li><a>微信</a></li>
                    </ul>
                </div>
                <div class="refor fr"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="question">
            <a class="question-href" href="http://surveys.jd.com/index.php?r=survey/index/sid/568245/lang/zh-Hans" target="_blank">
                <span></span>
                <p>登录页面，调查问卷</p>
            </a>
        </div>
        <div class="foot">
            <div class="links">
                <a target="_blank" href="{% static "http://www.jd.com/intro/about.aspx" %}">
	                关于我们
	            </a> |
                <a target="_blank" href="{% static "http://www.jd.com/contact/" %}">
	                联系我们
	            </a> |
                <a target="_blank" href="{% static "http://zhaopin.jd.com/" %}">
	                人才招聘
	            </a> |
                <a target="_blank" href="{% static "http://www.jd.com/contact/joinin.aspx" %}">
	                商家入驻
	            </a> |
                <a target="_blank" href="{% static "http://www.jd.com/intro/service.aspx" %}">
	                广告服务
	            </a> |
                <a target="_blank" href="{% static "http://app.jd.com/" %}">
	                手机京东
	            </a> |
                <a target="_blank" href="{% static "http://club.jd.com/links.aspx" %}">
	                友情链接
	            </a> |
                <a target="_blank" href="{% static "http://cps.jd.com/" %}">
	                销售联盟
	            </a> |
                <a href="{% static "http://club.jd.com/" %}" target="_blank">
	                京东社区
	            </a> |
                <a href="{% static "http://gongyi.jd.com" %}" target="_blank">
	                京东公益
	            </a> |
                <a target="_blank" href="{% static "http://en.jd.com/" %}" style="width:86px;">English Site</a>
            </div>
            <div class="copyright">
                Copyright&copy;2004-2015&nbsp;&nbsp;京东JD.com&nbsp;版权所有
            </div>
        </div>
    </div>
</body>

</html>
